<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simon.app"
    android:versionCode="1"
    android:versionName="1.0.3" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".ui.ActWelcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
              <activity
            android:name=".ui.ActWelcome"
            android:label="@string/my_douban" >
        </activity>
        -->
        <activity
            android:name=".ui.ActHome"
            android:label="@string/my_douban" >
        </activity>
        <activity
            android:name=".ui.ActMyDouban"
            android:label="@string/my_douban" >
        </activity>
        <activity
            android:name=".ui.ActNewbook"
            android:label="@string/my_douban" >
        </activity>
        <activity
            android:name=".ui.ActBookReview"
            android:label="@string/my_douban" >
        </activity>
        <activity
            android:name=".ui.ActSearch"
            android:label="@string/my_douban" >
        </activity>
        <activity
            android:name=".ui.ActAbout"
            android:label="@string/my_douban" >
        </activity>
        <activity
            android:name=".ui.ActLogin"
            android:label="@string/my_douban" >
        </activity>
        <activity
            android:name=".ui.ActMyInfo"
            android:label="@string/my_douban" >
        </activity>
    </application>

</manifest>